body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0f1b21;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.texto {
  color: white;
}

.titulo {
  text-align: center;
}

.container {
  text-align: center;
}

.titulo {
  margin-top: 20px;
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonReset {
  width: 250px;
  height: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background: #1f3540;
  font-size: 26px;
  color: #26ffcb;
  margin-top: 25px;
  margin-bottom: 50px;
}

.buttonReset:hover:not([disabled]) {
  filter: brightness(125%);
}

.casa {
  display: flex;
  height: 180px;
  width: 180px;
  background: #1f3540;
  border: 4px solid #0f1b21;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.casa:disabled {
  opacity: 0.7;
}

.casa:hover:not([disabled]) {
  filter: brightness(125%);
}

.tabu {
  height: 600px;
  width: 564px;
  display: flex;
  margin: auto;
}

.cross {
  color: #02afb2;
  font-size: 80px;
  margin: auto;
  font-weight: bold;
}

.circle {
  color: #26ffcb;
  font-size: 80px;
  font-weight: bold;
}

.loader {
  border: 8px solid #0f1b21;
  border-top: 8px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.roomInput {
  width: 210px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button {
  width: 250px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  background: #1f3540;
  font-size: 16px;
  color: #26ffcb;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button:hover:not([disabled]) {
  filter: brightness(125%);
}
